### steps to take
step 1: get the data <br>
step 2: get dummies and change all the categorical variable to intigers<br>
step 3: train_test_split the data<br> 
step 4: standard scaling<br>
step 5: logistic regression<br>
step 6:

how to deal data imbalance

As a Mod4 project, we are performing logistic regression. **Logistic Regression** is a predictive Machine Learning classification algorithm that explain the relationship between one dependent binary variable and one or more nominal, ordinal, interval or ratio-level independent variables.

## Get the data

The dataset is taken from the UCI [Machine Learning repository](http://archive.ics.uci.edu/ml/index.php). The dataset is on direct phone calls marketing campaigns of a Portuguese banking institution. This classification project is to predict if the client will subscribe ('YES') or not ('NO') to a cash investment for an agreed rate of interest over **a fixed** amount of time, or **term**.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font', size=14)
import seaborn as sns 
# sns.set(style='white')
# sns.set(style='whitegrid', color_codes=True)

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix#, classifiction_report
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold

The dataset contains 41,188 records and 21 features.

In [4]:
import pandas as pd
bank = pd.read_csv('data/bank-additional-full.csv', sep=';')
print(bank.shape)
bank.head()

(41188, 21)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
bank.columns
# age , job , matital, education, houseing, lone, contact, month, day_of_week, campain(non-dammy), previous(non-dammy)
# poutcome,
bank.previous.value_counts()

In [ ]:
bank.job.value_counts()

In [ ]:
print(bank_final.shape)
bank_final.head()

In [ ]:
bank_final.month.unique()

In [ ]:
months = {
    'jan': 'winter',
    'feb': 'winter',
    'may': 'spring', 
    'jun': 'summer', 
    'jul': 'summer', 
    'aug': 'summer', 
    'oct': 'fall', 
    'nov': 'fall', 
    'dec': 'winter', 
    'mar': 'spring', 
    'apr': 'spring',
    'sep': 'fall'
}

In [ ]:
months.items()

In [ ]:
seasons = pd.DataFrame(list(months.items()), columns=['month', 'season'])
# seasons

In [ ]:
bank_final = bank_final.merge(seasons)

In [ ]:
bank_final = bank_final.drop(columns=['month'])

In [ ]:
bank_final

In [ ]:
bank_final['month'] = np.where(bank_final.month.isin(['mar', 'apr', 'may']), 'spring', 0)#, bank_final['month'])
# bank_final['month'] = np.where(bank_final.month.isin(['jun', 'jul', 'aug']), 'summer', 0)#, bank_final['month'])
# bank_final['month'] = np.where(bank_final.month.isin(['sep', 'oct', 'nov']), 'fall', 0)# #bank_final['month'])
# bank_final['month'] = np.where(bank_final.month.isin(['dec', 'jan', 'feb']), 'winter', 0)#, bank_final['month'])
# bank_final.month.value_count()
bank_final.month.map()
# DMV_ibu = np.array(brewery_cleand[brewery_cleand.state.isin(['DC', 'MD', 'VA'])]['ibu'])

In [ ]:
bank_final['education']=np.where(bank_final['education'] =='basic.9y', 'basic', bank_final['education'])
bank_final['education']=np.where(bank_final['education'] =='basic.6y', 'basic', bank_final['education'])
bank_final['education']=np.where(bank_final['education'] =='basic.4y', 'basic', bank_final['education'])
# bank.final['education'].value_count()

In [ ]:
bank_final.month.value_counts()

## train-test split

In [ ]:
X = bank_final.loc[:, bank_final.columns != 'y']
y = bank_final['y']
print('target variable', y.shape)
print('predictor variable', X.shape)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y, test_size = .25)

In [ ]:
## Let's go with the vanilla case - no regularization
logreg = LogisticRegression(C = 1e9, solver = 'newton-cg', max_iter=10000)
logreg.fit(X_train, y_train)