In [28]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classifiction_report
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold

ImportError: cannot import name 'classifiction_report'

### steps to take
step 1: get the data <br>
step 2: get dummies and change all the categorical variable to intigers<br>
step 3: train_test_split the data<br> 
step 4: standard scaling<br>
step 5: logistic regression<br>
step 6:

how to deal data imbalance

## Get the data

In [27]:
import pandas as pd
bank = pd.read_csv('data/bank-additional-full.csv', sep=';')
bank_final = bank[['marital', 'education', 'month', 'day_of_week', 'previous', 'y']]
bank_final.head(3)

   marital    education month day_of_week  previous   y
0  married     basic.4y   may         mon         0  no
1  married  high.school   may         mon         0  no
2  married  high.school   may         mon         0  no

In [20]:
bank.columns
# age , job , matital, education, houseing, lone, contact, month, day_of_week, campain(non-dammy), previous(non-dammy)
# poutcome,
bank.previous.value_counts()

0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: previous, dtype: int64

In [25]:
bank.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [3]:
print(bank_final.shape)
bank_final.head()

(41188, 6)

   marital    education month day_of_week  previous   y
0  married     basic.4y   may         mon         0  no
1  married  high.school   may         mon         0  no
2  married  high.school   may         mon         0  no
3  married     basic.6y   may         mon         0  no
4  married  high.school   may         mon         0  no

In [ ]:
bank_final.month.unique()

In [4]:
months = {
    'jan': 'winter',
    'feb': 'winter',
    'may': 'spring', 
    'jun': 'summer', 
    'jul': 'summer', 
    'aug': 'summer', 
    'oct': 'fall', 
    'nov': 'fall', 
    'dec': 'winter', 
    'mar': 'spring', 
    'apr': 'spring',
    'sep': 'fall'
}

In [ ]:
months.items()

In [6]:
seasons = pd.DataFrame(list(months.items()), columns=['month', 'season'])
# seasons

In [7]:
bank_final = bank_final.merge(seasons)

In [8]:
bank_final = bank_final.drop(columns=['month'])

In [9]:
bank_final

        marital            education day_of_week  previous    y  season
0       married             basic.4y         mon         0   no  spring
1       married          high.school         mon         0   no  spring
2       married          high.school         mon         0   no  spring
3       married             basic.6y         mon         0   no  spring
4       married          high.school         mon         0   no  spring
5       married             basic.9y         mon         0   no  spring
6       married  professional.course         mon         0   no  spring
7       married              unknown         mon         0   no  spring
8        single  professional.course         mon         0   no  spring
9        single          high.school         mon         0   no  spring
10      married              unknown         mon         0   no  spring
11       single          high.school         mon         0   no  spring
12       single          high.school         mon         0   no  spring
13     divorced             basic.4y         mon         0   no  spring
14      married             basic.6y         mon         0   no  spring
15      married             basic.9y         mon         0   no  spring
16      married             basic.6y         mon         0   no  spring
17      married             basic.6y         mon         0   no  spring
18      married             basic.9y         mon         0   no  spring
19       single             basic.9y         mon         0   no  spring
20      married          high.school         mon         0   no  spring
21      married             basic.4y         mon         0   no  spring
22       single          high.school         mon         0   no  spring
23       single          high.school         mon         0   no  spring
24      married          high.school         mon         0   no  spring
25      married    university.degree         mon         0   no  spring
26      married              unknown         mon         0   no  spring
27      married             basic.9y         mon         0   no  spring
28       single    university.degree         mon         0   no  spring
29      married    university.degree         mon         0   no  spring
...         ...                  ...         ...       ...  ...     ...
41158  divorced          high.school         fri         0   no    fall
41159    single          high.school         mon         0   no    fall
41160    single          high.school         mon         3  yes    fall
41161   married  professional.course         mon         0   no    fall
41162   married             basic.6y         mon         0  yes    fall
41163   married          high.school         mon         0   no    fall
41164    single  professional.course         mon         3   no    fall
41165    single    university.degree         mon         0   no    fall
41166   married          high.school         mon         1   no    fall
41167    single  professional.course         mon         0   no    fall
41168    single  professional.course         mon         1   no    fall
41169    single  professional.course         mon         2   no    fall
41170   married          high.school         mon         0  yes    fall
41171   married  professional.course         mon         0  yes    fall
41172    single    university.degree         mon         0   no    fall
41173    single    university.degree         tue         0   no    fall
41174    single  professional.course         tue         2   no    fall
41175    single  professional.course         tue         0   no    fall
41176    single  professional.course         tue         1  yes    fall
41177    single    university.degree         tue         3  yes    fall
41178    single          high.school         wed         0   no    fall
41179  divorced          high.school         wed         1   no    fall
41180   married    university.degree         wed         1   no    fall
41181   married    university.degree         wed         2   no    fall
41182    single          high.school         wed         0   no    fall
41183   married    university.degree         wed         2  yes    fall
41184   married    university.degree         wed         0  yes    fall
41185  divorced    university.degree         wed         1   no    fall
41186  divorced    university.degree         wed         1  yes    fall
41187   married              unknown         wed         3  yes    fall

[41188 rows x 6 columns]

In [ ]:
bank_final['month'] = np.where(bank_final.month.isin(['mar', 'apr', 'may']), 'spring', 0)#, bank_final['month'])
# bank_final['month'] = np.where(bank_final.month.isin(['jun', 'jul', 'aug']), 'summer', 0)#, bank_final['month'])
# bank_final['month'] = np.where(bank_final.month.isin(['sep', 'oct', 'nov']), 'fall', 0)# #bank_final['month'])
# bank_final['month'] = np.where(bank_final.month.isin(['dec', 'jan', 'feb']), 'winter', 0)#, bank_final['month'])
# bank_final.month.value_count()
bank_final.month.map()
# DMV_ibu = np.array(brewery_cleand[brewery_cleand.state.isin(['DC', 'MD', 'VA'])]['ibu'])

In [ ]:
bank_final['education']=np.where(bank_final['education'] =='basic.9y', 'basic', bank_final['education'])
bank_final['education']=np.where(bank_final['education'] =='basic.6y', 'basic', bank_final['education'])
bank_final['education']=np.where(bank_final['education'] =='basic.4y', 'basic', bank_final['education'])
# bank.final['education'].value_count()

In [ ]:
bank_final.month.value_counts()

## train-test split

In [ ]:
X = bank_final.loc[:, bank_final.columns != 'y']
y = bank_final['y']
print('target variable', y.shape)
print('predictor variable', X.shape)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y, test_size = .25)

In [ ]:
## Let's go with the vanilla case - no regularization
logreg = LogisticRegression(C = 1e9, solver = 'newton-cg', max_iter=10000)
logreg.fit(X_train, y_train)