In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix#, classifiction_report
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold

# autoreload 
%load_ext autoreload
%autoreload 2
import data_cleaning

### steps to take
step 1: get the data <br>
step 2: get dummies and change all the categorical variable to intigers<br>
step 3: train_test_split the data<br> 
step 4: standard scaling<br>
step 5: logistic regression<br>
step 6:

how to deal data imbalance

## Step 1: Get the data

In [2]:
import pandas as pd
bank = pd.read_csv('data/bank-additional-full.csv', sep=';')
print(bank.shape)

cleand_data = data_cleaning.check_duplicates(bank)
print(cleand_data.shape)
# cleand_data.rename(index=str, columns={'y':'target'})
cleand_data.head()

(41188, 21)
There were 12 duplicates and they have been removed
(41176, 21)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
# there is no na values
# print(cleand_data.isna().sum())

In [4]:
# creat a list of interst variables 
col = ['age', 'job', 'marital', 'education', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'campaign', 'previous', 'poutcome', 'y']        
# age , job , matital, education, houseing, lone, contact, month, day_of_week, campain(non-dammy), previous(non-dammy)
# poutcome,
or_data = cleand_data[col]
or_data = or_data.rename(columns={'y': 'target'})
or_data.head()

,age,job,marital,education,housing,loan,contact,month,day_of_week,campaign,previous,poutcome,target
0,56,housemaid,married,basic.4y,no,no,telephone,may,mon,1,0,nonexistent,no
1,57,services,married,high.school,no,no,telephone,may,mon,1,0,nonexistent,no
2,37,services,married,high.school,yes,no,telephone,may,mon,1,0,nonexistent,no
3,40,admin.,married,basic.6y,no,no,telephone,may,mon,1,0,nonexistent,no
4,56,services,married,high.school,no,yes,telephone,may,mon,1,0,nonexistent,no

In [5]:
# get the datasset
bank_data = data_cleaning.cleaning_data(or_data)
bank_data.target = bank_data.target.map({'no':0, 'yes':1})
bank_data.head()

,age,job,marital,education,housing,loan,contact,month,day_of_week,campaign,previous,poutcome,target
0,56,housemaid,married,basic,no,no,telephone,spring,mon,1,0,nonexistent,0
1,57,services,married,high.school,no,no,telephone,spring,mon,1,0,nonexistent,0
2,37,services,married,high.school,yes,no,telephone,spring,mon,1,0,nonexistent,0
3,40,admin.,married,basic,no,no,telephone,spring,mon,1,0,nonexistent,0
4,56,services,married,high.school,no,yes,telephone,spring,mon,1,0,nonexistent,0

## Step 3: Train-test split the data

In [6]:
X = bank_data.drop('target', axis = 1)
y = bank_data['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y, test_size = .2)
print('A train-test split of 80% - 20% ')

A train-test split of 80% - 20%

In [7]:
# check the shape of our training data 
print('X_train:', X_train.shape)
print('y_train:', y_train.shape)

X_train: (32940, 12)
y_train: (32940,)

In [8]:
y_train.mean()

0.11265938069216758

## Step 4: Get_dummies

In [9]:
X_train.head()

,age,job,marital,education,housing,loan,contact,month,day_of_week,campaign,previous,poutcome
36454,24,technician,single,professional.course,no,no,cellular,summer,tue,2,1,failure
1233,32,blue-collar,married,professional.course,no,no,telephone,spring,thu,1,0,nonexistent
24111,33,self-employed,single,university.degree,no,no,telephone,fall,thu,1,0,nonexistent
15516,38,entrepreneur,married,basic.9y,no,yes,telephone,summer,fri,4,0,nonexistent
17916,39,services,married,high.school,yes,yes,cellular,summer,tue,4,0,nonexistent

In [10]:
dummed_train = pd.get_dummies(X_train, 
               columns = ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome'], 
               drop_first= True)

In [11]:
dummed_train.head()
print(dummed_train.shape)
print(dummed_train.columns)

(32940, 37)
Index(['age', 'campaign', 'previous', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'job_unknown', 'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_spring', 'month_summer',
       'month_winter', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [25]:
# calculate for age
mu, std = dummed_train.age.mean(), dummed_train.age.std()
print('mean age', mu, 'age std', std)
print('Standardized value for the first row is:', (dummed_train.age[1233]-mu)/std)
print(dummed_train.age[1233])
dummed_train.head()

mean age 40.01712204007286 age std 10.453345065570176
Standardized value for the first row is: -0.766943211936874
32

,age,campaign,previous,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,contact_telephone,month_spring,month_summer,month_winter,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
36454,24,2,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1233,32,1,0,1,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
24111,33,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
15516,38,4,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
17916,39,4,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,1,0

In [31]:
# StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(dummed_train)
bank_train = scaler.transform(dummed_train)
pd.DataFrame(bank_train).shape
## then used 
# scaler.transform(X_test)

(32940, 37)

In [27]:
dummed_train.head()

,age,campaign,previous,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,contact_telephone,month_spring,month_summer,month_winter,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
36454,24,2,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
1233,32,1,0,1,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
24111,33,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
15516,38,4,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
17916,39,4,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,1,0

In [ ]:
## Let's go with the vanilla case - no regularization
logreg = LogisticRegression()
logreg.fit(X_train, y_train)